<main class="has-dflex-center">
  <section>
    <div class="lx-container-100">
      <div class="lx-row">
        <h1 class="title">Edit your profile</h1>
      </div>
      <div class="row">
        <div class="col-4">
            <div class="profile-pic bs-md">
              <!-- <h1 class="pic-label">Profile picture</h1> -->
              <div class="pic bs-md">
                <label class="hoverable" for="fileInput">
                  <img [src]="sanitize()"> 
                  <div class="hover-text">
                    <em class="material-icons">add_a_photo</em>
                  </div>
                  <div class="background"></div>
                </label>
                <br/>
                <input id="fileInput" type='file' (change)="onSelectFile($event)">
              </div>
              <div class="pic-info">
                <p class="text-white"><i class="fas fa-exclamation-triangle">

                </i>&nbsp;&nbsp;This photo will appear on the platform, as your avatar. Click on it to update</p>
              </div>
            </div>
        </div>
        <div class="col-8">

          <div class="lx-column">
            <div class="col-12">

            <form [formGroup]="userForm"class=" needs-validation" novalidate>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="field" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      formControlName="firstname"
                      matInput
                      placeholder="Full Name"
                    />
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="userForm.controls['firstname'].errors">
                      Invalid name
                    </mat-error>
                  </mat-form-field>
                 
                </div>
                <div class="col-6">
                  <mat-form-field class="field" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input
                      [errorStateMatcher]="matcher"
                      formControlName="username"
                      matInput
                      placeholder="Username"
                    />
                    <mat-icon matSuffix>person_pin</mat-icon>
                    <mat-error *ngIf="userForm.controls['username'].errors">
                      Invalid username
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
             
             <div class="row">
             <div class="col-6">
              <mat-form-field class="field" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  [errorStateMatcher]="matcher"
                  formControlName="email"
                  matInput
                  placeholder="Email"
                />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="userForm.controls['email'].errors">
                  Invalid Email
                </mat-error>
              </mat-form-field>
             
             </div>
             <div class="col-6">
              <mat-form-field class="field" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  type="password"
                  [errorStateMatcher]="matcher"
                  formControlName="password"
                  matInput
                  placeholder="Password"
                />
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="userForm.controls['password'].errors">
                  Password is too weak (at least 8 characters, one uppercase ، lowercase ، number
                  and one special character )
                </mat-error>
              </mat-form-field>
      
            </div>
             </div>
             <div class="row">
              <div class="col-6">
                <mat-form-field class="field" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    type="password"
                    [errorStateMatcher]="matcher"
                    formControlName="confirmPassword"
                    matInput
                    placeholder="¨Confirm your Password"
                  />
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="userForm.controls['confirmPassword'].errors">
                    Passwords don't match
                  </mat-error>
                </mat-form-field>
              </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="passc"></label>
                  <div class="actions">
                    <button (click)="reset()" type="button" class="btn btn-danger">Clear</button>
                    <button  (click)="update()" type="button" class="btn btn-success">Save</button>
                  </div>
               </div>
              </div>
            </form>
          </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
