<div class="comment-container theme--light">
  <div class="comments">
    <div>
      <div
        *ngFor="let comment of comments; let i = index"
        class="card v-card v-sheet theme--light elevation-2"
      >
        <div class="header">
          <div class="v-avatar avatar" style="height: 50px; width: 50px">
            <img [src]="sanitize(comment)"
            />
          </div>
          <span class="displayName title">{{ comment?.user?.username }}</span>
          <span class="displayName caption">{{
            comment?.commentDate | timeAgo
          }}</span>
        </div>
        <!---->
        <div class="wrapper comment">
          <p *ngIf="!editMode || selectedComment.id != comment.id">
            {{ comment?.comment }}
          </p>
          <div
            *ngIf="editMode && selectedComment.id == comment.id"
            class="editMode"
          >
            <textarea
              type="text"
              class="input"
              [(ngModel)]="selectedComment.comment"
              placeholder="Write a comment"
            ></textarea>
            <div class="float-right">
              <button (click)="editMode = false" class="cancel" type="submit">
                Cancel
              </button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button
                [disabled]="selectedComment.comment == ''"
                class="primaryContained"
                type="submit"
                (click)="update()"
              >
                Submit changes
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <span class="cursor" (click)="likeDislike(comment)"
                ><mat-icon *ngIf="likedOrNot(comment)==-1" class="mat-red">favorite_border </mat-icon>
                <mat-icon *ngIf="likedOrNot(comment)!=-1" class="mat-red">favorite </mat-icon>
                <span class="comment-number">{{ likesNumber(comment) }}</span>
              </span>
            </div>

            <div
              class="col-3"
              *ngIf="isLoggedIn && comment?.user?.id == user?.id"
            >
              <a
                nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this task?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delete(comment.id)"
              >
                <mat-icon class="mat-red cursor"
                  >delete
                </mat-icon>
              </a>
              <mat-icon
                (click)="editMode = true; selectedComment = comment"
                class="mat-green cursor"
                >edit_note
              </mat-icon>
            </div>
          </div>
        </div>
        <div class="actions">
          <!---->
          <!---->
          <!---->
        </div>
        <div class="v-dialog__container" style="display: block"></div>
      </div>
      <!---->
      <div class="answers" *ngIf="isLoggedIn">
        <!---->
        <textarea
          type="text"
          class="input"
          [(ngModel)]="myComment"
          placeholder="Write a comment"
        ></textarea>
        <button
          (click)="addComment()"
          [disabled]="myComment == ''"
          class="primaryContained float-right"
          type="submit"
        >
          Post Comment
        </button>
      </div>
    </div>

    <div></div>
  </div>
</div>
