<app-page-not-found *ngIf="showError"></app-page-not-found>

<div
  *ngIf="!showError"
  class="card mt-3 dark-theme separator"
  style="width: 100%;"
>
  <div
    class="card-header dark-theme bg-gray text-white"
    style="width: 100%;"
  >
    <h2 style="color: #fff; font-family: sans-serif">
      {{ "App.Results" | translate }} '{{ keyword }}'
    </h2>
  </div>

  <!--Tabs-->
  <mat-tab-group
    (selectedTabChange)="tabChanged($event)"
    *ngIf="movies?.length > 0 || shows?.length > 0; else notfound"
  >
    <mat-tab label="{{'App.Movies' | translate }}">
      <div
        class="row my-films justify-content-center"
        style="width: 100%; text-align: center; padding-left: 2%"
      >
        <div *ngFor="let item of movies; let i = index">
          <app-cardmovie
            [section]="'Movies'"
            [id]="item.id"
            [image]="item.poster_path"
            [title]="item.title"
            [dateRelease]="item.release_date"
            [note]="item.vote_average"
            [numbervisits]="item.popularity"
          >
          </app-cardmovie>
        </div>

        <div></div>
      </div>
    </mat-tab>
    <!-- shows -->

    <mat-tab label="{{'App.Series' | translate }}">
      <div
        class="row my-films justify-content-center"
        style="width: 100%; text-align: center; padding-left: 2%"
      >
        <div *ngFor="let item of shows; let i = index">
          <app-cardmovie
            [section]="'Series'"
            [id]="item.id"
            [image]="item.poster_path"
            [title]="item.name"
            [dateRelease]="item.first_air_date"
            [note]="item.vote_average"
            [numbervisits]="item.popularity"
          >
          </app-cardmovie>
        </div>
      </div>
    </mat-tab>

    <!-- Persons -->
    <mat-tab label="{{'App.Actors' | translate }}">
      <div
      class="row justify-content-center"
      style="width: 100%; text-align: center; padding-left: 2%"
    >
      <div
      class="card"
      style="width: 13rem; margin: 10px"
      *ngFor="let person of persons"
    >
      <a (click)="goToActor(person.id)">
        <img
          *ngIf="person?.profile_path"
          class="card-img-top avatar"
          [src]="
            'https://image.tmdb.org/t/p/original' + person.profile_path
          "
          alt="Card image cap"
        />
        <img
          *ngIf="!person?.profile_path"
          class="card-img-top avatar"
          src="/assets/images/no_poster_available.jpg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ person.name }}</h5>
        <!-- <p class="card-text">{{ person.character }}</p> -->
      </div>
    </div>

    </div>
    </mat-tab>
  </mat-tab-group>
</div>
