<mat-toolbar color="primary" class="navbar">
  <!-- Wrapper for Centering -->
  <div class="navbar-content">
    <!-- Logo -->
    <button mat-button class="logo-btn" [routerLink]="['/home']">
      <img src="assets/images/logo5.png" style="width:115px ;height: 100%" />
    </button>

    <!-- Navigation Links -->
    <div class="nav-links">
      <button mat-button (click)="navigateMovie()">
        <mat-icon>movie</mat-icon> Movies
      </button>

      <button mat-button (click)="navigateSerie()">
        <mat-icon>tv</mat-icon> Series
      </button>

      <button mat-button (click)="navigateUpcoming()">
        <mat-icon>local_cafe</mat-icon> Upcoming
      </button>

      <button mat-button (click)="navigateTop()">
        <mat-icon>star_rate</mat-icon> Top Rated
      </button>

      <button mat-button [routerLink]="['/settings']">
        <mat-icon>info</mat-icon> About Us
      </button>
    </div>

    <!-- Search Bar -->
    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        class="search-input"
        type="text"
        [(ngModel)]="keyword"
        (input)="goToSearch()"
        placeholder="Search for movie, serie..."
      />
    </div>

    <!-- Sign-in Button -->
    <button mat-button class="sign-in-btn" (click)="openLogin()" *ngIf="!isLoggedIn">
      Sign in
    </button>

    <!-- User Profile -->
    <ng-container *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="avatar" [src]="sanitize()" />
      </button>
      <mat-menu #menu="matMenu">
        <app-actions [profil]="profil"></app-actions>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
