<button (click)="navigate('user/watchlist')" mat-menu-item>
  <i class="fa fa-list"></i>
  <span class="ml-1">{{ 'App.My-List' | translate }}</span>
</button>
<button (click)="navigate('user/profile')" mat-menu-item>
  <i class="fa fa-user-circle"></i>
  <span> {{ 'App.Manage Profile' | translate }}</span>
</button>
<button *ngIf="isAdmin" (click)="navigate('admin')" mat-menu-item>
  <i class="fa fa-cogs"></i>
  <span> Settings</span>
</button>
<button (click)="signout()" mat-menu-item>
  <i class="fa fa-power-off"></i>
  <span> {{ 'App.Sign out' | translate }}</span>
</button>
