<mat-tab-group  class="separator">
  <mat-tab label="{{'App.Watch List' | translate }}">
    <div class="row  justify-content-center mt-4 mb-3">
      <div class="select">
        <select (change)="getWatchList()" [(ngModel)]="watched"  name="slct" id="slct">
          <option selected value="ALL">ALL</option>
          <option value="true">WATCHED</option>
          <option value="false">NOT WATCHED</option>

        </select>
      </div>
    </div>
    <div class="card dark-theme" style="width: 100%;">

      <div class="row justify-content-center my-films" style="width: 100%;text-align: center;padding-left: 2%;">

        <div *ngFor="let item of movieList">

          <app-modalfavorit (updateFav)="updateFav($event)" (updateWatchlist)="updateWatchlist($event)"
            [section]=" 'Movies' " [id]="item.id" [image]="item.poster_path" [title]="item.title"
            [dateRelease]="item.release_date" [note]="item.vote_average" [numbervisits]="item.popularity"
            [runtime]="item.runtime" [description]="item.overview" [country]="item.production_countries[0]?.name"
            [cat]="item.genres">

          </app-modalfavorit>


        </div>
        <!-- Series -->

        <div *ngFor="let item of tvList">

          <app-modalfavorit (updateWatchlist)="updateWatchlist($event)"
            [section]=" 'Series' " [id]="item.id" [image]="item.poster_path" [title]="item.name"
            [dateRelease]="item.first_air_date" [note]="item.vote_average" [numbervisits]="item.popularity"
            [description]="item.overview" [country]="item.origin_country[0]" [cat]="item.genres">

          </app-modalfavorit>


        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{'App.stat' | translate }}">
  <app-user-stat></app-user-stat>
  </mat-tab>
</mat-tab-group>